<div class="container-xxl py-5" id="cardapio">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Opções de Chopp</h5>
            <h1 class="mb-5">Mais Populares</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <!-- Opções de Chopp aqui -->
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        
                        {% for produto in produtos %}
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                {% comment %} <img class="flex-shrink-0 img-fluid rounded" src="{{ produto.imagem.url }}" alt="" style="width: 80px;"> {% endcomment %}
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>{{ produto.nome }} - {{ produto.litros }} L</span>
                                        <span class="text-primary">{{ produto.valor }}</span>
                                    </h5>
                                    <!-- Botão Adicionar ao Carrinho -->
                                    <button class="btn btn-primary add-to-cart" data-id="{{ produto.id }}" data-nome="{{ produto.nome }}" data-valor="{{ produto.valor }}">
                                        Adicionar ao Carrinho
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Carrinho de Compras -->
        <div class="mt-5">
            <h3>Carrinho de Compras</h3>
            <ul id="cart-items" class="list-group mb-3">
                <!-- Itens do Carrinho serão adicionados dinamicamente aqui -->
            </ul>
            <button id="checkout-button" class="btn btn-success">Pagar</button>
        </div>
    </div>
</div>

