<div class="container-xxl py-5 bg-dark mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">"Chopp Gelado, Na Sua Festa!</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">Precisa de Chopp para animar sua festa? Nós levamos até você! Seja para festas, aniversários, casamentos, churrascos ou qualquer comemoração, garantimos o chopp gelado e a diversão. É só chamar e a gente cuida do resto!</p>
                <a href="https://api.whatsapp.com/send/?phone=5521965373333&text&type=phone_number&app_absent=0" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft" target="blank">Fale Conosco</a>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="static/img/1.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="static/img/2.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="static/img/3.jpg" class="d-block w-100" alt="...">
                      </div>
                     
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</div>
