{% extends 'base.html' %}

{% block 'content' %}

<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Galeria de Eventos</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="#">Fotos</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="container mt-5">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mb-4">
            <div class="col-md-4">
                <label for="categoria">Escolha a Categoria:</label>
                <select name="categoria" id="categoria" class="form-control">
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="nome">Nome do Evento</label>
                <input type="text" name="nome" class="form-control" placeholder="Nome do Evento">
            </div>
            <div class="col-md-4">
                <label for="images">Imagens</label>
                <input type="file" id="file-input" name="images" multiple onchange="updateFileList()" class="form-control">
            </div>
        </div>
        <ul id="file-list" style="list-style-type: none;"></ul>
        <input type="hidden" name="image_order" id="image-order"> <!-- Campo oculto para a ordem das imagens -->
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script>
    function updateFileList() {
        const input = document.getElementById('file-input');
        const list = document.getElementById('file-list');
        list.innerHTML = ''; // Limpa a lista atual

        for (let i = 0; i < input.files.length; i++) {
            const file = input.files[i];
            const li = document.createElement('li');
            li.textContent = file.name;
            li.dataset.index = i; // Adiciona o índice do arquivo
            list.appendChild(li);
        }

        // Inicializa o Sortable
        const sortable = new Sortable(list, {
            onEnd: function (evt) {
                // Atualiza a ordem dos arquivos
                const newOrder = Array.from(list.children).map(li => li.dataset.index);
                document.getElementById('image-order').value = newOrder.join(','); // Salva a nova ordem no campo oculto
            }
        });
    }
</script>

{% endblock %}
