{% extends 'base.html' %}

{% block 'content'%}



<style>
    .categoria-section {
        display: none;
    }
    .categoria-section.active {
        display: block;
    }

    @media (max-width: 768px) {
        .col-3 {
            width: 100%; /* Faz com que a coluna de categorias ocupe toda a largura */
            margin-bottom: 20px; /* Espaçamento inferior */
        }
        .col-9 {
            width: 100%; /* Faz com que a coluna de fotos ocupe toda a largura */
        }
        .card {
            margin-bottom: 20px; /* Espaçamento entre cards */
        }
    }
</style>

<body>
    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Galeria de Eventos</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Fotos</a></li>
                </ol>
            </nav>
        </div>
    </div>
<div class="container mt-5">
    <div class="row">
        
        <div class="col-9">
            {% for categoria in categorias %}
                <div id="categoria-{{ categoria.id }}" class="categoria-section {% if forloop.first %}active{% endif %}">
                    <h2>{{ categoria.nome }}</h2>
                    <div class="row">
                        {% for evento in eventos %}
                                {% for imagem in evento.imagens.all %}
                                    <div class="col-md-4 mb-4">
                                        <div class="card">
                                            {% if imagem%}
                                            <img src="{{ imagem.imagem.url }}" class="card-img-top" alt="" style="height: 200px; object-fit: cover;">
                                            {%else%}
                                                <p>sem imagem</p>
                                            {%endif%}
                                            <div class="card-body">
                                                <h5 class="card-title">{{ evento.nome }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                    </div>


                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
