{%extends 'base.html'%}
{%block 'content'%}

<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Galeria de Eventos</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="#">Fotos</a></li>
            </ol>
        </nav>
    </div>
</div>


<style>
    .categoria-section {
        display: none;
    }
    .categoria-section.active {
        display: block;
    }
    
    @media (max-width: 768px) {
        .col-3 {
            width: 100%; /* Faz com que a coluna de categorias ocupe toda a largura */
            margin-bottom: 20px; /* Espaçamento inferior */
        }
        .col-9 {
            width: 100%; /* Faz com que a coluna de fotos ocupe toda a largura */
        }
        .card {
            margin-bottom: 20px; /* Espaçamento entre cards */
        }
    }
    
</style>

<body>
<div class="container mt-5">

    <div class="row">
        <div class="col-3">
            <h4>Categorias</h4>
            <ul class="list-group">
                {% for categoria in categorias %}
                    <li class="list-group-item">
                        <a href="#" class="categoria-link" data-categoria-id="categoria-{{ categoria.id }}">{{ categoria.nome }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-9">
            {% for categoria in categorias %}
                <div id="categoria-{{ categoria.id }}" class="categoria-section {% if forloop.first %}active{% endif %}">
                    <h2>{{ categoria.nome }}</h2>
                    <div class="row">
                        {% for evento in eventos %}
                            {% if evento.categoria.id == categoria.id %}
                                {% for imagem in evento.imagens.all %}
                                    <div class="col-md-4 mb-4">
                                        <div class="card">
                                            <img src="{{ imagem.imagem.url }}" class="card-img-top" alt="{{ evento.nome }}" style="height: 200px; object-fit: cover;">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ evento.nome }} - {{imagem.id}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const links = document.querySelectorAll('.categoria-link');
        links.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const categoriaId = this.getAttribute('data-categoria-id');
                document.querySelectorAll('.categoria-section').forEach(section => {
                    section.classList.remove('active');
                });
                document.getElementById(categoriaId).classList.add('active');
            });
        });
    });
</script>

{%endblock%}