<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'parciais/head.html'%}
</head>

<body>
    <div class="container-xxl bg-white p-0">
        
        {% include 'parciais/loading.html'%}

        <!-- Navbar & Hero Start -->
        {% include 'parciais/nav_bar.html'%}

        {% include 'parciais/header.html'%}
       

        <!-- About Start -->
        {% include 'parciais/about.html' with conta_eventos=conta_eventos%}
        <!-- About End -->
        
        <!-- Reservation Start -->
        {% include 'parciais/contact.html' with form=form%}
        <!-- Reservation Start -->


        <!-- Team Start -->
        {% include 'parciais/team.html'%}
        <!-- Team End -->


        <!-- Testimonial Start -->
        {% include 'parciais/testimonial.html'  with testemunhos=testemunhos%}
        <!-- Testimonial End -->
        

        <!-- Footer Start -->
        {% include 'parciais/footer.html'%}
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    {% include 'parciais/js.html'%}
    <!-- end js -->
</body>

</html>