{%extends 'base.html'%}

{%block 'content'%}


            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Login</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Entrar</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        <!-- Navbar & Hero End -->

        <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s" id="contato">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="video">
                        <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                            <span></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-6 bg-dark d-flex align-items-center">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
    
                        {% if error %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endif %}
                    
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{erro}}

                            <div class="row g-3">
                                
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        {{form.username}}
                                        <label for="name">Usuario</label>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-6">
                                    <div class="form-floating" id="password" data-target-input="nearest">
                                        {{form.password}}
                                        <label for="datetime">Senha</label>
                                    </div>
                                </div>
                              
                                
                                
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Entrar</button>
                                </div>
                            </div>
                        </form>
                        <br>
                        <p>Não tem conta ? <a href="{% url 'register'%}">Click Aqui!</a></p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="ratio ratio-16x9">
                            <video width="100%" height="auto" controls>
                                <source src="/static/img/IMG_7798.mp4" type="video/mp4">
                                Seu navegador não suporta a tag de vídeo.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        

{%endblock%}