{% extends 'base.html'%}
{%block 'content'%}
            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Chopp Menu</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Início</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Chopps</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Menu Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Chopp Itinerante</h5>
                    <h1 class="mb-5">Opções de Chopp</h1>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    {% comment %} <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                                <i class="fa fa-coffee fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Popular</small>
                                    <h6 class="mt-n1 mb-0">Breakfast</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                                <i class="fa fa-hamburger fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Special</small>
                                    <h6 class="mt-n1 mb-0">Launch</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                                <i class="fa fa-utensils fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Lovely</small>
                                    <h6 class="mt-n1 mb-0">Dinner</h6>
                                </div>
                            </a>
                        </li>
                    </ul> {% endcomment %}
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                {% if produtos %}
                                    {% for produto in produtos %}
                                    <div class="col-lg-6">
                                        <div class="d-flex align-items-center">
                                            {% if produto.imagem%}
                                                <img class="flex-shrink-0 img-fluid rounded" src="{{ produto.imagem.url }}" alt="" style="width: 80px;">
                                            {%endif%}
                                            <div class="w-100 d-flex flex-column text-start ps-4">
                                                <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                    {% if produto.litros%}
                                                        <span>{{ produto.nome }} - {{ produto.litros }} L</span>
                                                    {%else%}
                                                        <span>{{ produto.nome }}</span>
                                                    {%endif%}
                                                    <span class="text-primary">{{ produto.valor }}</span>
                                                </h5>
                                                <small class="fst-italic">{{produto.descricao}}</small>

                                                <!-- Botão Adicionar ao Carrinho -->
                                                <div class="produto-item">
                                                    <!-- Formulário para adicionar ao carrinho -->
                                                    {% if request.user.is_authenticated%}
                                                        <form hx-post="{% url 'adicionar_ao_carrinho' produto.id %}" 
                                                            hx-target="#mensagem-produto-{{ produto.id }}" 
                                                            hx-swap="innerHTML" 
                                                            hx-trigger="submit" 
                                                            hx-on="htmx:afterRequest: atualizarQuantidadeCarrinho" 
                                                            method="post" class="d-flex align-items-center">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="produto_id" value="{{ produto.id }}">
                                                            <label for="quantidade_{{ produto.id }}" class="visually-hidden">Quantidade:</label>
                                                            <div class="input-group" style="width: 150px;">
                                                                {%if not produto.servico%}
                                                                <button type="button" class="btn btn-outline-secondary" onclick="decrementar('{{ produto.id }}')">
                                                                    <i class="fas fa-minus"></i>
                                                                </button>
                                                                
                                                                <input type="number" id="quantidade_{{ produto.id }}" name="quantidade" value="1" min="1" class="form-control text-center" style="max-width: 80px;">
                                                                
                                                                <button type="button" class="btn btn-outline-secondary" onclick="incrementar('{{ produto.id }}')">
                                                                    <i class="fas fa-plus"></i>
                                                                </button>
                                                                {%else%}
                                                                <input type="number" id="quantidade_{{ produto.id }}" name="quantidade" value="1" min="1" class="form-control text-center" style="max-width: 80px; display:none;">

                                                                {%endif%}
                                                            </div>
                                                            <button type="submit" class="btn btn-primary ms-2">Adicionar</button>
                                                        </form>
                                                    {%else%}
                                                        <form method='POST' action="{% url 'login'  %}" 
                                                            method="post" class="d-flex align-items-center">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="produto_id" value="{{ produto.id }}">
                                                            <label for="quantidade_{{ produto.id }}" class="visually-hidden">Quantidade:</label>
                                                            <div class="input-group" style="width: 150px;">
                                                                {%if not produto.servico%}
                                                                <button type="button" class="btn btn-outline-secondary" onclick="decrementar('{{ produto.id }}')">
                                                                    <i class="fas fa-minus"></i>
                                                                </button>
                                                                <input type="number" id="quantidade_{{ produto.id }}" name="quantidade" value="1" min="1" class="form-control text-center" style="max-width: 80px;">
                                                                <button type="button" class="btn btn-outline-secondary" onclick="incrementar('{{ produto.id }}')">
                                                                    <i class="fas fa-plus"></i>
                                                                </button>
                                                                
                                                                {%endif%}
                                                        </div>
                                                        <button type="submit" class="btn btn-primary ms-2">Adicionar</button>
                                                        </form>
                                                    {%endif%}
                                                    <script>
                                                        function incrementar(id) {
                                                            let input = document.getElementById('quantidade_' + id);
                                                            input.value = parseInt(input.value) + 1;
                                                        }

                                                        function decrementar(id) {
                                                            let input = document.getElementById('quantidade_' + id);
                                                            if (parseInt(input.value) > 1) {
                                                                input.value = parseInt(input.value) - 1;
                                                            }
                                                        }
                                                    </script>

                                                    <!-- Div para mostrar a mensagem de sucesso -->
                                                    <div id="mensagem-produto-{{ produto.id }}" class="mensagem-produto"></div>
                                                </div>
                                                
                                                <!-- Script para remover mensagens após um tempo -->
                                                <script>
                                                    function removerMensagem(id) {
                                                        const mensagemElemento = document.getElementById(id);
                                                        if (mensagemElemento) {
                                                            setTimeout(() => {
                                                                mensagemElemento.innerHTML = '';
                                                            }, 2000);  // 3000 milissegundos = 3 segundos
                                                        }
                                                    }
                                                </script>
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {%else%}
                                    Sem Produtos ainda
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
        <!-- Exibir a quantidade de itens no carrinho -->
        <div class="col-lg-6">
            <div class="d-flex align-items-center">
                <div class="w-100 d-flex flex-column text-start ps-4" id="quantidade-carrinho">
                    <a href="{% url 'pagina_carrinho' %}"type="submit" class="btn btn-primary add-to-cart">Pagar</a>    
                    

                </div>
            </div>
            
        </div>


        

        <script>
            function alterarQuantidade(produtoId, ajuste) {
                const input = document.getElementById(`quantidade_${produtoId}`);
                let quantidade = parseInt(input.value, 10);
                quantidade += ajuste;
                if (quantidade < 1) quantidade = 1; // Garantir que a quantidade não seja menor que 1
                input.value = quantidade;
            }
        </script>
        <!-- Back to Top -->

{%endblock%}
