{% extends "base.html" %}

{% block 'content'%}

<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Minhas Compras</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="#">Pedidos</a></li>
            </ol>
        </nav>
    </div>
</div>
    {% if pagamentos%}
      {% for pag in pagamentos %}
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#Id</th>
              <th scope="col">Evento</th>
              <th scope="col">Data do Evento</th>
              <th scope="col">Bairro do Evento</th>
              <th scope="col">Endereço do Evento</th>
              <th scope="col">Valor do Pagamento</th>
              <th scope="col">Status do Pagamento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{pag.id}}</th>
              <td>{{pag.data_evento}}</td>
              <td>{{pag.tipo_evento}}</td>
              <td>{{pag.bairro}}</td>
              <td>{{pag.endereco}}</td>
              <td>{{pag.valor}}</td>
              <td class="badge bg-success ">{{pag.status}}</td>
            </tr>
            
          </tbody>
        </table>
        {%endfor%}
    {%else%}
        <p> Você Ainda não fez nem uma compra.</p>
{%endblock%}